.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;
}

.header__logo {}

.header__logo div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.header__burger {
  width: 30px;
  display: grid;
  align-items: center;
  grid-template: repeat(3, 8px)/1fr;
}

.header__burger::before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: black;
}

.header__burger::after {
  content: "";
  height: 2px;
  width: 30px;
  background-color: black;
}