.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
 
}

.default {
  background-color: var(--green);
}

.hot {
  color: inherit;
  background-color: inherit;
  padding: 0 0 10px;
}

.cold {
  background-color: var(--yellow);
}