@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './colors.css';
@import '../components/Typography/Addition/style.css';
@import '../components/Typography/Headline/style.css';
@import '../components/Typography/Paragraph/style.css';
@import '../components/Typography/Link/style.css';
@import '../components/Button/style.css';
@import '../components/Section/style.css';
@import '../components/Card/style.css';
@import '../entities/Bestsellers/Card/style.css';
@import '../entities/Bestsellers/Card/Extra/style.css';
@import '../entities/Bestsellers/List/style.css';
@import '../entities/Bestsellers/Categories/style.css';
@import '../entities/Arrivals/Gallery/style.css';
@import '../entities/Sales/style.css';
@import '../entities/Footer/style.css';
@import '../entities/Header/style.css';
@import '../entities/Header/HeaderMenu/style.css';
@import '../entities/Header/Navigation/style.css';
@import '../entities/Footer/style.css';
@import '../entities/Footer/FooterMenu/style.css';
@import '../entities/Footer/Contacts/style.css';
@import '../entities/Footer/Social/style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  color: var(--darkBlue);
}

/* html,
body,
section,
#root,
main {
  width: 100%;
  height: 100%;
} */

body {}

main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}