.headline {
  font-weight: bold;
}

.headline_first {
  font-size: 48px;
}

.headline_second {
  font-size: 36px;
  letter-spacing: 3px;
}

.headline_third {
  font-size: 30px;
  letter-spacing: 3px;
}

.headline_fourth {
  font-size: 15px;
  letter-spacing: 1px;
}